body, html {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.page-h,
.nav-h,
.slider-h {
    display: none;
}
.header-logo {
    display: inline-block;
    width: 140px;
    height: 60px;
}
.header-logo img {
    width: 100%;
    height: auto;
}
.page-nav {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #FFFFFF;
}
.page-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.page-nav li a{
    display: block;
    color: #78AC48;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    border-bottom: 2px solid #F2F2F2;
}
#hamburger {
    position: absolute;
    top: 18px;
    right: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

#hamburger span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #78AC48;
    border-radius: 10px;
}

#hamburger .top,
#hamburger .bottom {
    position: absolute;
    left: 0;
    -webkit-transition:-webkit-transform 300ms,  top 300ms 300ms;
            transition:transform 300ms,  top 300ms 300ms; 
}

#hamburger .top {
    top: 0;
}
#hamburger .bottom {
    top: 19px;
}
#hamburger .middle {
    -webkit-transition: opacity 200ms;
            transition: opacity 200ms;
}

#hamburger.nav-open .middle{
    opacity: 0;
    filter: alpha(opacity=0);
}
#hamburger.nav-open .top,
#hamburger.nav-open .bottom {
    -webkit-transition: top 300ms, -webkit-transform 300ms 300ms;
            transition: top 300ms, transform 300ms 300ms; 
    top: 10px;
}
#hamburger.nav-open .top{
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
}
#hamburger.nav-open .bottom{
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
}
#slider [class^="slider_slide_"]:not(.slider_slide_1) {
    display: none;
}

#slider [class^="slider_slide_"]>img {
    width: 100%;
}


.section-header {
    padding: 12px 0;
    margin-bottom: 26px;
    color: #78AC48;
    text-transform:uppercase;
    font-family: "Lato";
    font-weight: 700;
    border-bottom: 2px solid #849F6C;
}

section p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #353535;
}


.about {
    box-sizing: border-box;
}

.about_image img{
    width: 100%;
    margin: 10px 0;
}

.projects {
    margin-bottom: 20px;
}
.projects_button {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: "Lato";
    font-weight: 700;
    background-color: #75ad4c;
    border: solid 5px #498022;
    border-radius: 10px;
    padding: 22px 10px;
    color: #FFFFFF;
}

#contact_form  input,
#contact_form  textarea{
    width: 100%;
    border: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    background-color: #F6F6F6;
}

#contact_form  textarea {
    resize: none;
    height: 120px;
}

#contact_form button {
    border: none;
    padding: 16px 28px;
    color: #FFFFFF;
    background-color: #75ad4c;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    margin: 0 auto 20px auto;
    display: block;
}

.contact address {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #303030;
    line-height: 30px;
    margin-bottom: 30px;
}
.contact_brand {
    color: #2D2D2D;
    margin: 14px 0;
}


@media only screen and (min-width : 768px) {
    .container {
        padding: 0 40px;
    }
    #hamburger {
        display: none;
    }
    .page-nav,
    .page-nav ul,
    .page-nav li {
        display: inline-block;
    }
    .page-nav {
        position: relative;
        float: right;
        width: auto;
    }
    .page-nav li a {
        font-weight: 600;
        border-bottom: none;
    }
    #slider {
        position: relative;
    }
    #slider [class^="slider_slide_"]:not(.slider_slide_1){
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #slider [class^="slider_slide_"] {
        opacity: 0;
    }
    #slider .slider_slide_1 {
        opacity: 1;
    }
    .about_wrapper::after {
        display: table;
        content: ' ';
        width: 100%;
        clear: both;
    }
    .about_image {
        float: left;
        width: 45%;
        margin-top: 10px;
    }     
    .about_content {
        float: right;
        width: 55%;
        padding-left: 30px;
        box-sizing: border-box;
    }
    .projects_button {
        width: 50%;
        margin: 40px auto;
        padding: 14px 10px;
    }
    .contact_wrapper {
        display: flex;
        flex-direction: row-reverse;
    }
    #contact_form {
        width: 60%;
    }
    #contact_form input,
    #contact_form textarea{
        width: 80%;
        margin-right: 30px;
    }
    #contact_form button {
        margin-bottom: 50px;
        display: inline-block;
    }
    .contact address {
        text-align: left;
        width: 40%;
    }
    .contact address p:first-child {
        margin-top: 0;
    }
    
}

@media only screen and (min-width : 1024px) {
    .container {
        padding: 0 115px;
    }
    .page-header {
        height: 120px;
    }
    .header-logo {
        height: 100%;
        width: auto;
    }
    .page-nav {
        margin-top: 35px;
    }
    .page-nav li a {
        display: inline-block;
        padding: 16px 20px;
        margin-left: 8px;
        border-radius: 10px;
        transition: background-color 200ms, color 200ms;
    }
    .page-nav li a:hover {
        background-color: #78AC48;
        color: #FFFFFF;
    }
    .section-header {
        margin-top: 55px;
        padding-top: 0;
        padding-bottom: 16px;
    }
    .about_image {
        width: 40%;
    }
    .about_content {
        width: 60%;
        line-height: 28px;
    }
    .projects_wrapper {
        font-size: 0;
    }
    .projects_content {
        display: inline-block;
        box-sizing: border-box;
        width: 60%;
        line-height: 28px;
        padding-right: 30px;
    }
    .projects_content p:first-child {
        margin-top: 0;
    }
    .projects_button {
        display: inline-block;
        margin: 0;
        width: 40%;
        line-height: 18px;
        font-size: 16px;
        padding: 25px 40px;
        box-sizing: border-box;
        vertical-align: top;
        transition: background-color 200ms, color 200ms;
    }
    .projects_button:hover,
    #contact_form button:hover{
        background-color: #FFFFFF;
    }
    .projects_button:hover {
        color: #78AC48;
    }
    #contact_form button:hover{
        color: #498022;
        box-shadow:inset 0 0 0 2px #498022;
    }
    .projects_button:active,
    #contact_form button:active {
        background-color: #DBF0CB;
        color: #000000;
    }
    #contact_form button:active{
        box-shadow:inset 0 0 0 4px #498022;
    }
    #contact_form button{
        transition: background-color 200ms, color 200ms, box-shadow 200ms;
    }
    #contact_form {
        width: 60%;
    }
    #contact_form input,
    #contact_form textarea{
        width: 260px;
        display: inline-block;
        padding: 15px;
    }
    #contact_form textarea {
        width: 554px;
    }
    .contact address {
        width: 40%;
    }
}